* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;
}

.ui {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0;
  background-color: var(--figma-color-bg);
}

.ui-section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  color: var(--figma-color-text);
}

.ui-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: var(--figma-color-border);
}

.ui-item-checkbox {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ui-item-checkbox:hover {
  background-color: var(--figma-color-bg-hover);
}

.ui-item-checkbox input {
  position: absolute;
  left: 12px;
  top: 11px;
  height: 12px;
  width: 12px;
  margin: 0px;
  outline: none;
  border: 1px solid var(--figma-color-border-strong);
  background-color: var(--figma-color-bg);
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.ui-item-checkbox input:checked::before {
  position: absolute;
  content: '';
  left: -1px;
  top: -1px;
  width: 12px;
  height: 12px;
  box-shadow: inset 1em 1em var(--figma-color-icon-onselected-strong);
  transform-origin: bottom left;
  clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
}

.ui-item-checkbox input:checked {
  border: 1px solid var(--figma-color-bg-brand);
  background-color: var(--figma-color-bg-brand);
}

.ui-item-checkbox label {
  width: 100%;
  padding: 10px 12px 10px 32px;
  font-family: Inter, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: var(--figma-color-text);
  cursor: pointer;
}

.ui-item-action {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  color: var(--figma-color-text);
  cursor: pointer;
}

.ui-item-action:hover {
  background-color: var(--figma-color-bg-hover);
}

.ui-item-action--disabled {
  color: var(--figma-color-text-disabled);
  background-color: transparent !important;
  cursor: default !important;
}

.ui-item-action--destructive {
  color: var(--figma-color-text-danger);
}

.ui-item-priority {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px;
  gap: 3px;
}

.ui-item-priority-button {
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.ui-item-priority-button:hover {
  background-color: var(--figma-color-bg-hover);
}

.ui-item-priority-button--selected {
  border: 1px solid var(--figma-color-border-selected);
}

.ui-item-select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  gap: 8px;
  padding: 0 12px;
  width: 100%;
  position: relative;
}

.ui-item-select::after {
  position: absolute;
  display: block;
  content: '';
  right: 18px;
  top: 16px;
  width: 7px;
  height: 5px;
  mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuMDAwMDEgMy4yOTI5M0wxLjM1MzU2IDAuNjQ2NDg0TDAuNjQ2NDU0IDEuMzUzNTlMNC4wMDAwMSA0LjcwNzE0TDcuMzUzNTYgMS4zNTM1OUw2LjY0NjQ1IDAuNjQ2NDg0TDQuMDAwMDEgMy4yOTI5M1oiIGZpbGw9IiNCNEI0QjQiLz4KPC9zdmc+Cg==)
    no-repeat center;
  mask-size: cover;
  -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuMDAwMDEgMy4yOTI5M0wxLjM1MzU2IDAuNjQ2NDg0TDAuNjQ2NDU0IDEuMzUzNTlMNC4wMDAwMSA0LjcwNzE0TDcuMzUzNTYgMS4zNTM1OUw2LjY0NjQ1IDAuNjQ2NDg0TDQuMDAwMDEgMy4yOTI5M1oiIGZpbGw9IiNCNEI0QjQiLz4KPC9zdmc+Cg==)
    no-repeat center;
  -webkit-mask-size: cover;
  background-color: var(--figma-color-icon-secondary);
}

.ui-item-select select {
  appearance: none;
  position: absolute;
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: none;
  outline: none;
  border: none;
  color: var(--figma-color-text);
  cursor: pointer;
}

.ui-item-select:hover {
  background-color: var(--figma-color-bg-hover);
}

.ui-item-select--disabled select {
  color: var(--figma-color-text-disabled);
  background-color: transparent !important;
  cursor: default !important;
}

.ui-item-select--preview select {
  padding-left: 36px;
  line-height: 17px;
}

.ui-item-select-preview {
  width: 16;
  height: 16;
  border-radius: 100%;
  background-color: var(--figma-color-icon-secondary);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
